*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: brown;
}
.container{
    background-color: white;
    width: 90%;
    height: 100%;
}
.container1{
  background-color: white;
  margin-top: 50px;
  margin-left: 30px;
  width: 95%;
  height: 100%;
  
}
img{
    height: 30px;
    width: 30px;
    margin-top: 1px;
    margin-left: 40px;
}
/* search{
    width: 200px;
    margin-left: 250px;
    margin-top: -50px;
    
} */
.container1 ul li{
    display: inline-block;
    /* margin-left: 10px; */
    /* padding: 10px; */
}
.container1 ul li input{
    margin-left: 432px;
   margin-bottom: 10px;
   border-radius: 40px;
   height: 30px;
}
.vi{
    margin-left: 470px;
    margin-top: 5px;
   
    border-radius: 40px;
}
.navbar{
    background-color: #2F4F4F;
    height: 500px;
    width: 200px;
    margin-left: 30px;
    margin-top: -20px;
   
}
nav ul{
    margin-left: 50px;
    
}
nav ul li {
    display: block;
    margin-top: 20px;
    padding-top: 20px;
}
nav ul li a {
    color: white;
    text-transform: uppercase;
    position: relative;
    
}
a:hover{
    background-color: brown;
    width: 300px;

}
nav ul li:nth-child(1) a
{
border-left: -10px solid brown;
}
nav ul li:nth-child(2) a
{
border-left: -10px solid brown;
}
nav ul li:nth-child(3) a
{
border-left: -10px solid brown;
}
nav ul li:nth-child(4) a
{
border-left: -10px solid brown;
}
nav ul li a::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: brown;
    width: 0%;
    height: 100%;
    transition: 0.3s;
}
nav ul li a:hover::after
{
    width: 100%;
}
.content{
    background-color: white;
    margin-left: 230px;
    margin-top: -498px;
    width: 80.4%;
    height: 500px;
}
.nav img{
    width: 366.6px;
    height: 200px;
    margin: -2px;
    
}
h2{
    color: #2F4F4F;
}
span{
    float: right;
    margin-right: 100px;
    margin-top: -20px;

}
.con{
    float:right;
    padding-top: 1px;
    margin-top: -24px;
    background-color: brown;
    color: white;
}
hr{
    width: 92.8%;
    height: 30px;
    margin-top: 25px;
    background-color: aliceblue;
    margin-bottom: 20px;
}
.lore{
    width: 400px;
    margin-left: 30px;
    height: 200px;
    background-color: aliceblue;
    line-height: 20px;
}


.lore1{
    width: 300px;
    margin-top: -200px;
    margin-left: 460px;
    height: 200px;
    background-color: aliceblue;
}
.lore1 p{
    margin-bottom: 20px;
  
}
.lore2{
    width: 300px;
    margin-top: -200px;
    margin-left: 798px;
    height: 200px;
    font-size: 1.5rem;
    background-color: aliceblue;

}
.lore2 h3{
   margin-left: 35px;
}
